# Covariance
#### --->Covariance tells u whether two variables move together.
## Positive covariance:
#### --->If X variable increases and Y variable also increases.
## Negative covrariance:
#### --->If X variable increases and y variable decreases.
## Zero covariance:
#### --->If they move randomly
#### Note: Covariance only shows direction not strength.

# Correlation
### --->Direction + How strong the relationship.
### --->It is basically a scaled version of covariance.
## Range:
### --->Correlation always lies in between -1 to +1.
### --->+1  Perfect positive relationship(Both are same direction)
### --->0  No relationship
### --->-1  Perfect negative relationship(Both are opposite direction)

In [1]:
import pandas as pd
df=pd.read_csv(r"C:\Users\yvsur\Downloads\Stuudy_hours.csv")
df

   study_hours  Marks
0          2.9     27
1          5.8     61
2          4.7     45
3          4.0     38
4          1.8     19
5          1.8      8
6          1.3      4
7          5.3     50
8          4.0     35
9          4.5     47

In [2]:
df.cov()

             study_hours       Marks
study_hours     2.481000   28.906667
Marks          28.906667  348.711111

In [3]:
df.corr()

             study_hours    Marks
study_hours      1.00000  0.98277
Marks            0.98277  1.00000

In [4]:
df.var()

study_hours      2.481000
Marks          348.711111
dtype: float64